.oculto{
  display: none;
}
.blanco{
    color: white;
}
.btn{
  background-color: #0070D1;
  border-color: #0070D1;
}
.dropdown-item:hover{
  cursor: pointer;
}
.row{
   text-align: center;
}
.row2{
      margin-right: 0px !important;
    margin-left: 0px !important;
}
.banner{
   background-color: black;
  text-align: center;
  background-image: url("../img/uc-social-share.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 8px 0px rgba(219,219,219,1);
-moz-box-shadow: 10px 10px 8px 0px rgba(219,219,219,1);
box-shadow: 10px 10px 8px 0px rgba(219,219,219,1);
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #DEDEDE;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}
.text{
font-size: medium;
}
        .tarjeta{
          background-color: #E1E3E8;
            align-items: center;
            margin: 1%;
            width: 180px !important;
            -webkit-box-shadow: 10px 10px 24px 0px rgba(219,219,219,1);
-moz-box-shadow: 10px 10px 24px 0px rgba(219,219,219,1);
box-shadow: 10px 10px 24px 0px rgba(219,219,219,1);
        }
        .tarjeta:hover{
          transform: scale(1.2);
          cursor: pointer
        }
        .imagen{
            width: 80% !important;
            height: 150px;
            border-radius: 50% !important;
            margin-left: -0.5rem;
            /* margin-right: 20rem; */
        }
        .contenido{
            display: none;
        }
        .table{
          background-color: white;
          margin-left: 5%;
          margin-right: 5%;
          width: 90%;
          /* display: none; */
      }
      .user-card-full {
        overflow: hidden
    }
    
    .mod {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        margin-bottom: 30px
    }
    
    .m-r-0 {
        margin-right: 0px
    }
    
    .m-l-0 {
        margin-left: 0px
    }
    
    .user-card-full .user-profile {
        border-radius: 5px 0 0 5px
    }
    
    .bg-c-lite-green {
      background: -webkit-gradient(linear, left top, right top, from(#83B1CB), to(#0044B1));
      background: linear-gradient(to right, #0044B1,#83B1CB)
    }
    
    .user-profile {
        padding: 20px 0
    }
    .m-b-25 {
        margin-bottom: 25px
    }
    
    .img-radius {
        border-radius: 5px
    }
    
    h6 {
        font-size: 14px
    }
    
    .mod .card-block p {
        line-height: 15px
    }
    @media only screen and (min-width: 1400px) {
        p {
            font-size: 14px
        }
    }
    .modal-dialog {
      max-width: 800px !important;
      margin: 1.75rem auto !important;
  }
    .card-block {
        padding: 1.25rem;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0
    }
    .m-b-20 {
        margin-bottom: 20px
    }
    
    .p-b-5 {
        padding-bottom: 5px !important
    }
    
    .m-b-10 {
        margin-bottom: 10px
    }
    
    .text-muted {
        color: #919aa3 !important
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0
    }
    .p-b-5 {
        padding-bottom: 5px !important
    }
    
    .user-card-full .social-link li {
        display: inline-block
    }
    
    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }
    .icon:hover{
      cursor: pointer;
    }