body {
    margin: 0;
    font-family:"";
    font-size: 15pt;
    box-sizing: border-box;
    overflow: hidden;
  }
  #mainPrincipal {
    background-image: url(../img/fondo.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
 
  }
  
  .viewSession {
    right: 0;
  }
  .header {
    width: 100%;
    background-image: red;
    padding-top: 90px ;
    padding-right: 43%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header .links {
    display: flex;
  }
  .header .links .link {
      text-decoration: none;
    /* position: relative; */
    color: #cadde5;
    background-color: #0079C1;
    border: 1px solid #0079C1;
    border-radius: 5px;
    padding: 15px 35px;
    margin-top: 150% ;
    cursor: pointer;
  }
  .header .links .link:hover {
    color: #1e4069;
    background-color: #cadde5;
  }
  .header .logo {
    color: white;
    font-size: 3em;
  }
  h6{
      position: absolute;
      top: 30%;
      left: 30%;
  }
  .opacidad{
      position: absolute;
    background-color:rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
  }
  .imagen{
    background-image: url("https://avatars2.githubusercontent.com/u/8257841?s=280&v=4");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 300px;
    width: 300px;
    margin-top: 1%;
    margin-left: 39%;
  }