.contentButtons {
    width: 100%;
    margin: 25px 0 0 0;
    display: flex;
    justify-content: space-around;
  }
  body {
    margin: 0;
    font-family:"";
    font-size: 15pt;
    box-sizing: border-box;
    overflow: hidden;
  }
  #mainPrincipal {
    background-image: url(../img/fondo.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
 
  }
  .session {
    position: absolute;
    right: 1px;
    margin-top: 30px;
    margin-right: 30%;
    width: 100%;
    border-radius: 10px;
    max-width: 500px;
    height: 90vh;
    /* background: rgba(135, 206, 235,0.8); */
    background: rgb(57,0,123);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
  }
  .viewSession {
    right: 0;
  }
  
  .contentLogin {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .titleLogin {
    font-size: 1em;
    width: 100%;
    font-family: "Bellota Text", cursive;
    color: #0079C1;
    text-align: center;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .input {
    font-size: 1em;
    color: black;
    margin: 6px 0 6px 0;
    /* border-radius: 40px; */
    padding: 10px 15px;
    background: white;
    outline: none;
    text-decoration: none;
    border: 1px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
 
  .link {
    text-decoration: none;
  position: relative;
  color: #cadde5;
  background-color: #0079C1;
  border: 1px solid #0079C1;
  border-radius: 1px;
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
}
.link:hover {
    color: #1e4069;
    background-color: #cadde5;
  }
  .opacidad{
    position: absolute;
  background-color:rgba(0, 0, 0, .9);
  height: 103%;
  width: 100%;
}
.imagen{
  background-image: url("https://avatars2.githubusercontent.com/u/8257841?s=280&v=4");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  width: 200px;
  margin-left: 10%;
  margin-top: -30%;
}